body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px;
}
a { color:blue; text-decoration: none;
}
table, th, td {
    background-color: #f8f9fa;
    color: #202122;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
    /*text-align: center;*/
}
figure {
    /*text-align: left;*/
    border: 1px #cccccc solid;
    background-color: #f8f9fa;
    padding: 4px;
    margin: auto;
}
figcaption {
    border: #c8ccd1;
    background-color: #f8f9fa;
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: left;
}
.box {
    width: 200px;
    display: inline-block;
}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
.skip-link {
    position: absolute;
    top: -3em;
    background: #fff;
}
.skip-link:focus {
    top: 0;
}
